/* ================================================
    NAVIGATION  
==================================================*/
nav{
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#601d2d;
    text-align: left;
}

nav a {
    border: 2px solid #97b2d1;
    display: inline-block;
    padding: 5px 5px;
}


/* ================================================
    GLOBAL PAGE STYLE 
==================================================*/
* {
    box-sizing: border-box;
}

body{
    background-color: #99992c;
    font-family: 'Poppins', sans-serif;
    color: #601d2d;
    width: 75%;
    margin: 0 auto;
}

/* ================================================
    WHAT IS WEB DEVELOPMENT?
==================================================*/
.intro {
    border: 5px solid #97b2d1;
    margin: 20px auto 0 auto;
    display:flex;
    align-items: center; 
    justify-content: space-between;
    padding: 50px; 
    
}

.intro-text {
    border: 5px solid #97b2d1;
    padding: 10px;
}

.intro-image{
    width: 500px;
    height: auto;
}

.intro-title {
    font-family: 'Abril Fatface', serif;
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

/* ================================================
    WHY IS WEB DEVELOPMENT IMPORTANT?  
==================================================*/
.importance {
    border: 5px solid #97b2d1;
    margin: 20px auto 0 auto;
    align-items: center; 
    padding: 50px;
}

.importance-title {
    font-family: 'Abril Fatface', serif;
    font-size: 40px;
    text-align: left;
}

/* ================================================
    TYPES OF WEBSITES  
==================================================*/
.website-types {
    border: 5px solid #97b2d1;
    margin: 20px auto 0 auto;
    align-items: center; 
    padding: 50px;
}

.website-grid {
    display:flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.website-card {
    border: 3px solid #97b2d1;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    background-color: #601d2d;
}

.types-title {
    font-family: 'Abril Fatface', serif;
    font-size: 40px;
    text-align: left;
}

.website-image {
    width: 150px;
    height: auto;
}

.website-card h3 {
    font-size: 28px;
    color: #97b2d1;
    margin-bottom: 10px;
}

.website-card p {
    font-size: 15px;
    font-weight: 400px;
    color: #EDD5AB;
}

/* ================================================
    SOURCES  
==================================================*/
.sources {
    border: 5px solid #97b2d1;
    margin: 20px auto;
    padding: 20px; 
}

.sources h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.sources ul {
    list-style-type: disc;
    padding-left: 25px;
}

.sources li {
    margin-bottom: 10px;
}

.sources a {
    color:#601d2d;
    text-decoration: none;
}

.sources a:hover {
    color:#EDD5AB;
    text-decoration: underline;
}