/* ================================================
    NAVIGATION  
==================================================*/
nav{
    margin: 25px 0 40px; 
}

/* Navigation Buttons */
nav a {
    display: inline-block;
    padding: 10px 18px; 
    margin-right: 10px;

    background-color: #99992c;
    border: 2px solid #97b2d1;
    border-radius: 6px;

    color: #EDD5AB;
    text-decoration: none;

    transition: 0.3s;
}

/* Current Page */
nav a:active {
    background-color: #601d2d;
    color:#EDD5AB;
}

/* Visited Navigation Link */
nav a:visited {
    background-color: #97b2d1;
    color:#601d2d;
}

/* Navigation link hover effect */
nav a:hover {
    background-color:#601d2d;
    color:#EDD5AB;
}


/* ================================================
    GLOBAL PAGE STYLE 
==================================================*/
* {
    box-sizing: border-box;
}

body{
    background-color: #99992c;
    color: #601d2d;
    font-family: 'Poppins', sans-serif;

    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
}

p {
    font-size: 18px;
    line-height: 1.6;
}


/* ================================================
    INTRO SECTION 
==================================================*/
.intro {
    margin: 40px auto;
    padding: 30px 0; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.intro-text {
    padding: 10px;
}

.intro-title {
    font-family: 'Abril Fatface', serif;
    font-size: 50px;
    text-align: center;
}

/* ================================================
    IMPORTANCE 
==================================================*/
.importance {
    margin: 60px 0;
    padding-top: 20px;
}

/* ================================================
    WEBSITE TYPES  
==================================================*/
.website-types {
    margin: 60px 0;
}

.website-grid {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.website-card {
    width: 230px;
    padding: 20px;
    border: 3px solid #97b2d1;
    border-radius: 10px;
    background-color: #601d2d;
    text-align: center;
}

.website-image {
    width: 150px;
    height: auto;
}

.website-card h3 {
    font-size: 28px;
    color: #97b2d1;
}

.website-card p {
    font-size: 15px;
    color: #EDD5AB;
}

/* ================================================
    HTML TAGS 
==================================================*/
.html-tags {
    margin: 60px 0;
}

/* Grid */
.tags-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

/* Cards */
.tag-card {
    width: 230px;
    padding: 20px; 
    border: 3px solid #97b2d1;
    text-align: center;
    background-color: #601d2d;
    color: #EDD5AB;
    text-align: center;
}

/* Tag */
.tag-code {
    font-family: monospace;
    font-size: 32px;
    color:#97b2d1;
}

/* ================================================
    BASIC HTML STRUCTURE  
==================================================*/
.html-image {
    width: 480px;
}
.html-structure {
    margin: 60px 0;
}

.structure-grid {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.structure-text {
    flex:1; 
}

.structure-grid .code-example {
    flex:1;
    margin: 0;
}

/* ================================================
    SHARED CODE BOX  
==================================================*/
.code-example {
    border: 3px solid #97b2d1;
    background-color: #601d2d;
    color:#EDD5AB;
    padding: 25px;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-x: hidden;
}

.types-title,
.tags-title,
.structure-title,
.properties-title,
.importance-title, 
.career-title {
    font-family: 'Abril Fatface', serif;
    font-size: 40px; 
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #97b2d1;
}

.intro-image,
.css-image,
.career-image {
    width:450px;
    height:auto;
}

/* ================================================
    CSS Properties  
==================================================*/
.css-properties {
    margin: 60px 0;
}

.properties-grid {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
}

.property-card {
    width: 230px;
    padding: 20px;
    border: 3px solid #97b2d1;
    background-color: #601d2d;
    color:#EDD5AB;
    text-align: center; 
}

.property-name {
    font-family: monospace;
    font-size: 20px; 
    color:#97b2d1;
}

.property-card p {
    color:#EDD5AB;
    font-size: 16px;
}

.property-card .property-example {
    margin-top: 25px;
    font-family: monospace;
    color:#c7d9ee;
    font-size: 17px;
}

/* ================================================
    CAREERS
==================================================*/
.career-row {
    display: grid; 
    grid-template-columns: 240px 1fr; 
    column-gap: 25px;

    align-items: start;
    margin: 35px 0; 
}

.career-row h3 {
    color:#601d2d; 
    margin: 0;
    font-size: 22px; 
}

.career-row p {
    margin: 0;
    line-height: 1.6;
}

/* ================================================
    SOURCES  
==================================================*/
.sources {
    margin: 40px auto;
    padding-top: 20px;
    border-top: 2px solid #97b2d1;
}

.sources h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 28px;
}

.sources ul {
    padding-left: 20px;
}

.sources li {
    margin-bottom: 8px;
}

.sources a {
    color:#601d2d;
    text-decoration: none;
}

.sources a:hover {
    color:#EDD5AB;
    text-decoration: underline;
}

/* ================================================
    FOOTER  
==================================================*/
footer {
    margin-top: 50px;
    padding: 20px 0;
    border-top: 2px solid #97b2d1;
    text-align: center;
}

footer p {
    margin: 5px 0; 
    font-size: 15px;
    color:#601d2d;
}